.FooterMain

    .container

        .FooterMain-row

            .FooterMain-section
                dl.FooterMain-list
                    dt Portais
                    dd: a(href='http://www.senado.gov.br/senado/') Institucional
                    dd: a(href='http://www.senado.gov.br/senadores/') Senadores
                    dd: a(href='http://www.senado.gov.br/atividade/') Atividade Legislativa
                    dd: a(href='http://www.senado.gov.br/legislacao/') Legislação
                    dd: a(href='http://www12.senado.gov.br/noticias') Notícias
                    dd: a(href='http://www.senado.gov.br/publicacoes/') Publicações
                    dd: a(href='http://www12.senado.gov.br/orcamento') Orçamento
                    dd: a(href='http://www.senado.gov.br/transparencia/') Transparência

            .FooterMain-section
                dl.FooterMain-list
                    dt Acesso Rápido
                    dd: a(href='http://www12.senado.gov.br/senado/ilb/ead/abrangencia') Educação a distância
                    dd: a(href='http://www12.senado.gov.br/jovemsenador') Jovem Senador
                    dd: a(href='http://www5.senado.gov.br/saes#') Programa de Estágio
                    dd: a(href='http://www.senado.gov.br/senado/campanhas/solidariedade.shtml') Programa Interlegis
                    dd: a(href='http://www.senado.gov.br/senado/visite/') Visite o Senado

            .FooterMain-section.milli
                dl.FooterMain-list.FooterMain-list--more.CutHere.CutHere--white.CutHere--xl
                    dt
                        a(href='http://www.senado.gov.br/senadores/dinamico/docs/SenadoresEmExercicioNomes.pdf')
                            strong Fale com os Senadores
                    dd
                        div: a(href='#'): strong Fale com o Senado
                    dd
                        div: a(href='#'): strong Congresso Nacional
                        div: a(href='#'): strong Câmara dos Deputados
                        div: a(href='#'): strong Tribunal de Contas da União

            .FooterMain-section
                dl.FooterMain-list
                    dt Redes Sociais
                    dd
                        a(href='http://www.facebook.com/senadofederal', target='_blank', title='Facebook', alt='Facebook')
                            i.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--facebook
                        a(href='http://twitter.com/senadofederal', target='_blank', title='Twitter', alt='Twitter')
                            i.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--twitter
                        a(href='http://www.youtube.com/agenciasenadoBR', target='_blank', title='YouTube', alt='YouTube')
                            i.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--youtube
                        a(href='http://www.flickr.com/agenciasenado', target='_blank', title='Flickr', alt='Flickr')
                            i.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--flickr


        .FooterMain-end
            span.FooterMain-icon--intranet
                a(href='https://intranet.senado.gov.br/', target='_blank')
                    |  Intranet
            span.FooterMain-icon--aotopo
                a(href='#')
                    |  Voltar ao topo


    .FooterMain-endereco
        span.hidden-xs Senado Federal -
        |  Praça dos Três Poderes - Brasília DF - CEP 70165-900
