.FooterMain

    .FooterMain-container

        .FooterMain-links

            .FooterMain-section
                .FooterMain-title Portais
                ul.FooterMain-list(role='navigation')
                    li: a(href='http://www.senado.gov.br/senado/') O Senado
                    li: a(href='http://www.senado.gov.br/senadores/') Senadores
                    li: a(href='http://www.senado.gov.br/atividade/') Atividade Legislativa
                    li: a(href='http://www.senado.gov.br/legislacao/') Legislação
                    li: a(href='http://www12.senado.gov.br/noticias') Notícias
                    li: a(href='http://www.senado.gov.br/publicacoes/') Publicações
                    li: a(href='http://www12.senado.gov.br/orcamento') Orçamento
                    li: a(href='http://www.senado.gov.br/transparencia/') Transparência

            .FooterMain-section
                .FooterMain-title Serviços
                ul.FooterMain-list(role='navigation')
                    li: a(href='http://www.senado.gov.br/atividade/materia/push/default.asp') Acompanhamento de Matérias
                    li: a(href='http://www.senado.gov.br/senado/campanhas/institucionais.shtml') Campanhas Institucionais
                    li: a(href='http://www12.senado.gov.br/blog/credenciamento-de-jornalistas') Credenciamento de Jornalistas
                    li: a(href='http://www12.senado.gov.br/noticias/glossario-legislativo') Glossário Legislativo
                    li: a(href='http://www.senado.gov.br/transparencia/liccontr/liccontr.asp') Licitações e Contratos
                    li: a(href='http://livraria.senado.gov.br/') Livraria do Senado
                    li: a(href='http://www.senado.gov.br/senado/alosenado/default.asp?s=pj') Projetos mais Comentados
                    li: a(href='http://www.senado.gov.br/senado/alosenado/default.asp?s=rr') Respostas Rápidas

            .FooterMain-section
                .FooterMain-title Compromisso Institucional
                ul.FooterMain-list(role='navigation')
                    li: a(href='http://www12.senado.gov.br/senado/ilb/ead/abrangencia') Educação a distância
                    li: a(href='http://www12.senado.gov.br/jovemsenador') Jovem Senador
                    li: a(href='http://www12.senado.gov.br/senado/procuradoria/') Procuradoria da Mulher
                    li: a(href='http://www5.senado.gov.br/saes#') Programa de Estágio
                    li: a(href='http://www.senado.gov.br/senado/campanhas/solidariedade.shtml') Senado Solidário
                    li: a(href='http://www.senado.gov.br/senado/programas/senadoverde/') Senado Verde
                    li: a(href='http://www.senado.gov.br/senado/visite/') Visite o Senado

            .FooterMain-section
                .FooterMain-title Fale com os Senadores
                ul.FooterMain-list(role='navigation')
                    li: a(href='http://www.senado.gov.br/senadores/dinamico/docs/SenadoresEmExercicioNomes.pdf')
                        | Endereço dos Gabinetes

                .FooterMain-title Fale com o Senado
                ul.FooterMain-list(role='navigation')
                    li
                        span.FooterMain-icon.FooterMain-icon--earphone
                        |  0800 61 22 11

        .FooterMain-end
            span.FooterMain-icon--intranet
                a(href='https://intranet.senado.gov.br/', target='_blank')
                    |  Intranet
            span.FooterMain-icon--aotopo
                a(href='#')
                    |  Voltar ao topo


    .FooterMain-endereco
        span.hidden-xs Senado Federal -
        |  Praça dos Três Poderes - Brasília DF - CEP 70165-900
