doctype html

html(lang='pt')

    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
        title Senado Federal
        link(href='../dist/main.css', rel='stylesheet')

    body

        include navglobal


        .u-spacer--lg
            include portaltopo-thin

        .container

            div(class="row spacer--lg")
                .col-md-6
                    .Media.Media--stack.Segment
                        .Media-figure
                            .embed-responsive.embed-responsive-3by2.Box--cut
                .col-md-6.Segments.panel-group
                    //-
                    .js-acc.Segments

                        .Box.Box--flush.Box--light.panel
                            .Box
                                .Segment.Apex--md.Apex--accordeon.h4(data-toggle="collapse", data-parent=".js-acc" href=".js-senadoagora")
                                    | Senado Agora
                                    .pull-right
                                        .Icon.Icon--md.Icon--newspaper
                            .js-senadoagora.collapse
                                .Segments.Box.Box--lg.Box--accordeon.small
                                    .CutHere
                                        div
                                            span.label.label-info 13h02
                                            b  Adelphiss:
                                            |  Azureus humani generis callide attrahendams deus est.
                                            | Contencio burguss ducunt ad racana.
                                        div
                                            span.label.label-info 12h52
                                            b  Vierium:
                                            |  Cum medicina potus, omnes buboes perdere nobilis, varius abactores!
                                            | A falsis, lamia audax scutum.
                                        div
                                            span.label.label-info 12h39
                                            b  Cella:
                                            |  Mirabilis, flavum solitudos satis examinare de primus, gratis hilotae.
                                            | Dexter hippotoxotas ducunt ad pulchritudine.
                                    .Stand.Stand--light: a Ver todas ›

                        //-

                        .Box.Box--stop.Box--cut.panel
                            .Segment.Apex--md.Apex--stop.Apex--flush.h4(data-toggle="collapse", data-parent=".js-acc" href=".js-noticias")
                                | Últimas Notícias
                            .js-noticias.collapse
                                .Segments.Box.Box--lg.Box--accordeon.small
                                    .CutHere
                                        div
                                            span.label.label-info 13h02
                                            b  Adelphiss:
                                            |  Azureus humani generis callide attrahendams deus est.
                                            | Contencio burguss ducunt ad racana.
                                        div
                                            span.label.label-info 12h52
                                            b  Vierium:
                                            |  Cum medicina potus, omnes buboes perdere nobilis, varius abactores!
                                            | A falsis, lamia audax scutum.
                                        div
                                            span.label.label-info 12h39
                                            b  Cella:
                                            |  Mirabilis, flavum solitudos satis examinare de primus, gratis hilotae.
                                            | Dexter hippotoxotas ducunt ad pulchritudine.
                                    .Stand.Stand--light: a Ver todas ›
            //-

            .Box.Box--divider.Box--vert.Box--xl
                .u-spacer
                .row
                    - var n = 0
                    while n < 4
                        .col-md-3
                            .Media
                                .Media-figure
                                    .embed-responsive.embed-responsive-3by2.Box--light(style="width:90px;")
                                .Media-top
                                    .Etiqueta.Etiqueta--default.glyphicon-th.Etiqueta--rev Humani generis
                                .Media-body.Segment
                                    small
                                        | Velox, lotus ventuss callide aperto de germanus, alter humani generis.
                        - n++
                .u-spacer


            .Box.Box--insert.Box--flush.u-spacer--xl
                include hp/atividade

            .Box.Box--flush
                include hp/participe

            .Box.Box--vert.Box--xl.t-apart
                include hp/destaques

            include hp/end


    include footer

        script(src='../node_modules/jquery/dist/jquery.min.js')
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        script(src='//localhost:35729/livereload.js')
