doctype html

html(lang='pt')

    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
        title Senado Federal
        link(href='../dist/main.css', rel='stylesheet')

    body

        include navglobal


        .u-spacer--xl
            include portaltopo-thin

        .container

            div(class="row spacer--xl")
                .col-md-6
                    .u-posRelative
                        .embed-responsive.embed-responsive-3by2.Box--cut
                            img.img-responsive(src="http://unsplash.it/600/400?image=759")
                        .Box.Caption.Caption--film.delta
                            | Ferox, noster compaters virtualiter prensionem de festus, azureus burgus.

                div(class=" col-md-6 / panel-group js-acc / Segments")
                    //-

                    div(class="--light panel")
                        .Box.Segment(data-toggle="collapse", data-parent=".js-acc" href=".js-senadoagora")
                            .pull-right
                                .Icon.Icon--md.Icon--newspaper
                            a.zeta Senado Agora
                        .js-senadoagora.collapse
                            .Segments.Box.Box--lg.t-accordeon.small
                                .CutHere
                                    div
                                        span.label.label-info 13h02
                                        b  Adelphiss:
                                        |  Azureus humani generis callide attrahendams deus est.
                                        | Contencio burguss ducunt ad racana.
                                    div
                                        span.label.label-info 12h52
                                        b  Vierium:
                                        |  Cum medicina potus, omnes buboes perdere nobilis, varius abactores!
                                        | A falsis, lamia audax scutum.
                                    div
                                        span.label.label-info 12h39
                                        b  Cella:
                                        |  Mirabilis, flavum solitudos satis examinare de primus, gratis hilotae.
                                        | Dexter hippotoxotas ducunt ad pulchritudine.
                                .Stand.Stand--light: a Ver todas ›

                    //-

                    div(class="panel --stop --cut")
                        .Box.Apex--stop(data-toggle="collapse", data-parent=".js-acc" href=".js-noticias")
                            .zeta Últimas Notícias
                        .js-noticias.collapse
                            .Segments.Box.Box--lg.t-accordeon.small
                                .CutHere
                                    div
                                        span.label.label-info 13h02
                                        b  Adelphiss:
                                        |  Azureus humani generis callide attrahendams deus est.
                                        | Contencio burguss ducunt ad racana.
                                    div
                                        span.label.label-info 12h52
                                        b  Vierium:
                                        |  Cum medicina potus, omnes buboes perdere nobilis, varius abactores!
                                        | A falsis, lamia audax scutum.
                                    div
                                        span.label.label-info 12h39
                                        b  Cella:
                                        |  Mirabilis, flavum solitudos satis examinare de primus, gratis hilotae.
                                        | Dexter hippotoxotas ducunt ad pulchritudine.
                                .Stand.Stand--md.Stand--cut: a Ver todas ›
            //-

            .row.spacer--xl
                - var n = 0
                while n < 4
                    .col-md-3
                        .Media
                            .Media-figure
                                .embed-responsive.embed-responsive-3by2
                                    img.img-responsive(src="http://unsplash.it/90/60?image=21"+n)
                            .Media-body.small
                                .Etiqueta.Etiqueta--default.glyphicon-th.Etiqueta--rev Humani generis
                                div Velox, lotus ventuss callide aperto de germanus, alter humani generis.
                    - n++


            div(class="--insert u-spacer--xl")
                include hp/atividade


            include hp/participe

            div(class="Box Box--vert Box--xl / --apart")
                include hp/destaques

            include hp/end


    include footer

        script(src='../node_modules/jquery/dist/jquery.min.js')
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        script(src='//localhost:35729/livereload.js')
