doctype html
html(lang='pt')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
        title Senado Federal
        link(href='../dist/main.css', rel='stylesheet')
    body
        include navglobal
        include portaltopo

        .u-spacer--lg

        .container

            .row

                .col-md-9

                    .u-spacer--lg
                        img.img-responsive(src='https://placehold.it/860x450')

                    .row.Segments.Segments--lg

                        .col-sm-4
                            .Media.Media--stack
                                .Media-top
                                    .Etiqueta.Etiqueta--default.glyphicon-list Flavum
                                .Media-figure
                                    .embed-responsive.embed-responsive-16by9
                                        img.img-responsive(src='https://placehold.it/400x225')
                                .Media-body
                                    a Voxs persuadere in bi-color chremisa!

                        .col-sm-4
                            .Media.Media--stack
                                .Media-top
                                    .Etiqueta.Etiqueta--default.glyphicon-list Bromium brodium
                                .Media-figure
                                    .embed-responsive.embed-responsive-16by9
                                        img.img-responsive(src='https://placehold.it/400x225')
                                .Media-body
                                    a Caesium de varius exemplar, examinare extum, fuga de barbatus habena, transferre vortex

                        .col-sm-4.CutHere.CutHere--lg
                            .Media
                                .Media-top
                                    .Etiqueta.Etiqueta--default.glyphicon-list Flavum
                                .Media-body
                                    h5: a
                                        | Guttuss manducare, ubi est fatalis abnoba. Salvus, fortis cobaltums patienter consumere de
                                        | festus, dexter fluctui.
                            .Media
                                .Media-top
                                    .Etiqueta.Etiqueta--default.glyphicon-list Flavum
                                .Media-body
                                    h5: a Historias peregrinationes, tanquam fortis gallus!

                    .row.u-spacer--lg

                        .col-xs-12
                            .Painel.Painel--vert.Painel--huge.Painel--news
                                .Media.Media--row.is-stack-xs
                                    .Media-top
                                        .Etiqueta.Etiqueta--default.Etiqueta--rev.glyphicon-list Calcarias cadunt
                                    .Media-figure.col-sm-4
                                        .embed-responsive.embed-responsive-16by9
                                            img.img-responsive(src='https://placehold.it/800x450')
                                    ul.Media-body.Segments
                                        li.h4: a Albus torquiss ducunt ad impositio. Cacula de secundus candidatus, aperto parma!
                                        li: p
                                            | Barbatus, azureus adgiums nunquam reperire de raptus, neuter nomen.
                                            | Lotus, superbus speciess sed mire resuscitabo de grandis, flavum coordinatae.
                                            | Primus, lotus nixuss foris gratia de talis, placidus verpa.

                .col-md-3.u-spacer--lg

                    .Segments.Painel.Painel--lg.Painel--light
                        .Segment.Apex.Apex--light.h4 Senado Agora
                        .CutHere.Painel.Painel--vert.small
                            div
                                span.label.label-default 13h02
                                a
                                    b  Adelphiss:
                                    |  Azureus humani generis callide attrahendams deus est.
                                    | Contencio burguss ducunt ad racana.
                            div
                                span.label.label-default 12h52
                                a
                                    b  Vierium:
                                    |  Cum medicina potus, omnes buboes perdere nobilis, varius abactores!
                                    | A falsis, lamia audax scutum.
                            div
                                span.label.label-default 12h39
                                a
                                    b  Cella:
                                    |  Mirabilis, flavum solitudos satis examinare de primus, gratis hilotae.
                                    | Dexter hippotoxotas ducunt ad pulchritudine.
                        .Stand.Stand--light.small: a Ver todas ›

                    ul(class='[ Segments Segments--lg ] [ Painel Painel--cut Painel--lg ]')
                        li(class='[ Apex Apex--cut ] h4')
                            span.u-divisorVertical.pull-left Agenda
                            i.Icon.Icon--md.Icon--calendar
                            span.h6
                                = ' '
                                a Qua | 01/07
                        li.small: a Mori diligenter ducunt ad flavum calceus
                        li.small: a Sunt axonaes amor clemens, neuter triticumes
                        li.Stand.Stand--cut.small
                            a.u-alignMiddle(href='#') Agenda semanal ›

            .row.u-spacer--lg

                .col-sm-6.Segments.Segments--lg
                    - var n = 0
                    while n < 3
                        .Media.Media--row.is-stack-xs
                            .Media-figure.col-sm-6
                                .embed-responsive.embed-responsive-16by9(style='background: #c0ffee')
                            ul.Media-body.Segments
                                li.h4: a Ecce. Albus ollas ducunt ad capio.
                                li: p Contencio moris, tanquam grandis era. Index de salvus lura, promissio demissio!
                        - n++

                .col-sm-6
                    ul.Painel.Painel--light.Painel--lg.Segments.Segments--lg
                        li.Apex.Apex--cut.h4.Apex--medium
                            | Vídeos
                        li.embed-responsive.embed-responsive-16by9
                            img.img-responsive(src='https://placehold.it/800x450')
                        li.h4 Spatii accelerares, tanquam alter rumor
                        li: p
                            | Cum brodium nocere, omnes habenaes convertam noster, magnum cobaltumes.
                            | Noster, festus hilotaes solite aperto de fatalis, dexter pars.
                            | Pius, placidus orexiss aliquando experientia de superbus, regius cobaltum.
                            | Talis, albus lumens sapienter talem de audax, salvus historia.
                            | Primus, teres tatas superbe locus de nobilis, lotus galatae.
                        li.Stand.Stand--lg.Stand--light

            .row.u-spacer--lg
                - var n = 0
                while n < 3
                    .col-sm-3
                        .Painel.Painel--links.Painel--flush
                            .Segment.Apex.Apex--default.Apex--medium.h4 Sunt nixuses
                            .Painel
                                .Flag
                                    .Flag-image
                                        .Icon.Icon--newspaper.Icon--lg
                                    .Flag-body
                                        a Cur vita tolerare?
                                        p: small Nunquam gratia guttus
                                .Flag
                                    .Flag-image
                                        .Icon.Icon--bubble.Icon--lg
                                    .Flag-body
                                        a Nunquam contactus pulchritudine
                                        div: small Fuga de ferox buxum, manifestum advena
                                .Flag
                                    .Flag-image
                                        .Icon.Icon--calendar.Icon--lg
                                    .Flag-body
                                        a Nunquam contactus pulchritudine
                                        div: small Fuga de ferox buxum, manifestum advena
                    - n++



    include footer
        script(src='../node_modules/jquery/dist/jquery.min.js')
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        script(src='//localhost:35729/livereload.js')
