.pull-right
    a.ShareIcon.ShareIcon--facebook
        span.ShareIcon-text.hidden-xs
            | Facebook
    a.ShareIcon.ShareIcon--twitter
        span.ShareIcon-text.hidden-xs
            | Twitter
    a.ShareIcon.ShareIcon--googleplus
    a.ShareIcon.ShareIcon--pinterest
