doctype html

html(lang='pt')

    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
        title Senado Federal
        link(href='../dist/main.css', rel='stylesheet')
        link(href="//fonts.googleapis.com/css?family=Open Sans&subset=latin", rel="stylesheet", type="text/css")
        style.
            * {
                font-family: 'Open Sans', sans-serif;
            }

    body#sfcss

        include common/navglobal


        .u-spacer--xl
            include common/portaltopo

        .container

            .row.spacer--xl
                .col-md-9
                    .u-posRelative
                        .Embed.Embed--16by9
                            img.img-responsive(src="http://unsplash.it/800/450?image=526")
                        .Box.Caption.Caption--film.delta
                            | Nixus peregrinatione rumor, omnes silvaes transferre mirabilis, dexter classises
                .col-md-3
                    .label.label-danger ● Ao vivo
                    h2
                        | Primus, albus nuclear vexatum iaceres vix locus de peritus fortis!
                    .CutHere.CutHere--xl
                        .text-muted
                            strong Quadrata
                            |  victrix, palus, et ionicis
                        p
                            | Demolitione accelerare, omnes buboes resuscitabo secundus, noster bromiumes.
                            | Cum impositio credere, omnes cannabises aperto alter, talis zetaes.
                            | Sunt demissioes visum altus, gratis nixes.
                        .l-fork.text-right
                            a.ShareIcon.ShareIcon--mini.ShareIcon--whatsapp
                            a.ShareIcon.ShareIcon--mini.ShareIcon--twitter
                            a.ShareIcon.ShareIcon--mini.ShareIcon--facebook
            // -
            .row.spacer--xl
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=431")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Sunt buboes prensionem neuter, primus abnobaes
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=357")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Nix bulla nocere, omnes accolaes resuscitabo neuter, azureus
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=312")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Lactea de camerarius domina, acquirere nutrix
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=292")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Castus messor unus imitaris armarium est domina

            //-
            .Divider.Divider--lg.Divider--highlight.u-spacer--xl
            //-
            .row
                .col-md-8
                    .Apex.Apex--default.u-spacer--xl
                        .delta Plenário e comissões
                    .Deck.row.spacer--xl
                        .Card.col-xs-6.col-md-3
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=618")
                                a Cum historia trabem, omnes lacteaes anhelare fortis, gratis urbses
                            .Card-footer.Box--links
                                .Apex.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.col-xs-6.col-md-3
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=595")
                                a Germanus, neuter glutens tandem attrahendam de ferox
                            .Card-footer.Box--links
                                .Apex.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.col-xs-6.col-md-3
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=534")
                                a Germanus, festus capios patienter reperire de talis, superbus urbs
                            .Card-footer.Box--links
                                .Apex.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.col-xs-6.col-md-3
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=530")
                                a Visuss sunt lunas de brevis terror
                            .Card-footer.Box--links
                                .Apex.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO


                .col-md-4
                    .Apex.Apex--default.delta.u-spacer--xl Assista a seu Senador
                    p Assista a todos os discursos do seu Senador
                    select.form-control.u-spacer
                    label.radio-inline
                        input(type="radio")
                        | Ordem alfabética
                    label.radio-inline
                        input(type="radio")
                        | Por estado
                    .u-spacer--xl
                    .Apex.Apex--default.zeta.u-spacer--xl Mais vistos
                    ul.Segments.CutHere
                        li
                            div: strong Cubiculum
                            a Idoleum peregrinationes, omnes cottaes quaestio primus, gratis dominaes
                        li
                            div: strong Fuga
                            a Saga cantare, omnes bromiumes amor grandis, velox cottaes. Raptus victrixs ducunt ad lamia.
                        li
                            div: strong Chremisa
                            a Festus, grandis eleatess diligenter imperium de altus, salvus lanista. Fatalis, placidus bromiums.
                        li
                            div: strong Peregrinatione
                            a Fortis, castus rumors sapienter magicae de alter, neuter tabes.



    include common/footer

        script(src='../node_modules/jquery/dist/jquery.min.js')
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        script(src='//localhost:35729/livereload.js')
