doctype html

html(lang='pt')

    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
        title Senado Federal
        link(href='../dist/main.css', rel='stylesheet')
        link(href="//fonts.googleapis.com/css?family=Open Sans&subset=latin", rel="stylesheet", type="text/css")
        style.
            * {
                font-family: 'Open Sans', sans-serif;
            }

    body#sfcss

        include common/navglobal


        .u-spacer--xl
            include common/portaltopo

        .container

            include tv/intro-list
            // -
            .row.spacer--xl
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=431")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Sunt buboes prensionem neuter, primus abnobaes
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=357")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Nix bulla nocere, omnes accolaes resuscitabo neuter, azureus
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=739")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Lactea de camerarius domina, acquirere nutrix
                .col-md-3
                    .Box.Box--flush
                        .Embed.Embed--3by2
                            img.img-responsive(src="http://unsplash.it/600/400?image=292")
                        .Caption.Caption--feature
                            button.btn.btn-square(class="+glass")
                                .Icon.Icon--md.Icon--play-alt
                        .Box.Caption.Caption--film
                            | Castus messor unus imitaris armarium est domina

            //-
            .Divider.Divider--lg.Divider--highlight.u-spacer--xl
            //-
            .row.spacer--lg
                .col-md-8
                    .Apex.Apex--default.u-spacer--xl
                        .delta Plenário e comissões
                    .Deck.Deck--strip.Deck--row
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=618")
                                a Nix historia trabem, omnes lacteaes anhelare fortis, gratis urbses
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=595")
                                a Germanus, neuter glutens tandem attrahendam de ferox
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=534")
                                a Germanus, festus capios patienter reperire de talis, superbus urbs
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=530")
                                a Visuss sunt lunas de brevis terror
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=464")
                                a Sunt medicina accelerare, omnes ususes dignus mirabilis, bassus rumores
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=639")
                                a Calceus de mirabilis ventus, gratia cotta
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=554")
                                a Magnum, domesticus bullas solite manifestum de emeritis, placidus heuretes
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO
                        .Card.u-size1of4
                            .Card-body.Segments.u-spacer--xl
                                .Embed.Embed--3by2
                                    img.img-responsive(src="http://unsplash.it/600/400?image=490")
                                a Sunt buxumes locus velox, audax decores
                            .Card-footer.Box--links
                                .Apex.Apex--lg.milli: span.text-muted 17/09/2015, 16h17 -
                                    a  CMO


                .col-md-4
                    .Apex.Apex--default.delta.u-spacer--xl Assista a seu Senador
                    p Assista a todos os discursos do seu Senador
                    select.form-control.u-spacer
                    label.radio-inline
                        input(type="radio")
                        | Ordem alfabética
                    label.radio-inline
                        input(type="radio")
                        | Por estado
                    .u-spacer--xl
                    .Apex.Apex--default.delta.u-spacer--xl Mais vistos
                    ul.Segments.CutHere.CutHere--lg
                        li
                            div Cubiculum
                            a Idoleum peregrinationes, omnes cottaes quaestio primus, gratis dominaes
                        li
                            div Fuga
                            a Saga cantare, omnes bromiumes amor grandis, velox cottaes. Raptus victrixs ducunt ad lamia
                        li
                            div Chremisa
                            a Festus, grandis eleatess diligenter imperium de altus, salvus lanista. Fatalis, placidus bromiums
                        li
                            div Peregrinatione
                            a Fortis, castus rumors sapienter magicae de alter, neuter tabes

            .Apex.Apex--default.delta.u-spacer--xl Destaques da programação
            .row.spacer--xl.row--strip
                .col-md-4.Segments
                    .Embed.Embed--3by2
                        img.img-responsive(src="http://unsplash.it/600/400?image=490")
                    h4 Solitudos crescere
                    a Mori solite ducunt ad fortis deus. Eheu. A falsis, poeta raptus
                .col-md-4.Segments
                    .Embed.Embed--3by2
                        img.img-responsive(src="http://unsplash.it/600/400?image=470")
                    h4 Caniss tolerare
                    a Credere acceleratrix ducunt ad brevis stella
                .col-md-4.Segments
                    .Embed.Embed--3by2
                        img.img-responsive(src="http://unsplash.it/600/400?image=450")
                    h4 Nunquam manifestum
                    a Navis de salvus devirginato, anhelare historia



    include common/footer

        script(src='../node_modules/jquery/dist/jquery.min.js')
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        script(src='//localhost:35729/livereload.js')
