.u-spacer--sm {
  margin-bottom: $padding-small-vertical !important;
}

.u-spacer,
.u-spacer--md {
  margin-bottom: $padding-base-vertical !important;
}

.u-spacer--lg {
  margin-bottom: $padding-large-vertical !important;
}

.u-spacer--xl {
  margin-bottom: $padding-large-vertical * 1.6 !important;
}
