$azul-padrao:               #3e6892;
$sf-primary:                #3e6892;
$cinza-medio:               #ccc;
$cinza-claro:               #eee;
$smoke:                     #f7f7f7;
$cinza-escuro:              #333;
$prata:                     #e5e5e5;
$solitude:                  #e3eaee;

$giga:                        96px;
$mega:                        72px;
$kilo:                        48px;
$alpha:                       36px;
$beta:                        32px;
$gamma:                       28px;
$delta:                       24px;
$epsilon:                     20px;
$zeta:                        18px;
$eta:                         16px;
$milli:                       12px;
$micro:                       10px;

// paddings (variáveis removidas no boostrap 4)
$padding-base-vertical:       6px !default;
$padding-base-horizontal:     12px !default;
$padding-large-vertical:      10px !default;
$padding-large-horizontal:    16px !default;
$padding-small-vertical:      5px !default;
$padding-small-horizontal:    10px !default;
$padding-xs-vertical:         1px !default;
$padding-xs-horizontal:       5px !default;
