// overrides
@icon-font-path: '../fonts/';
@link-color: @azul-padrao;
@navbar-default-link-active-bg: transparent;
@font-family-sans-serif:  Arial, "Helvetica Neue", Helvetica, sans-serif;

@img-path: '../img/';

@azul-padrao: #3E6892;
@sf-primary: #3E6892;
@cinza-medio: #CCCCCC;
@vermelho-escuro: #990000;
@cinza-claro: #EEEEEE;
@smoke: #f7f7f7;
@cinza-escuro: #333333;
@prata: #E5E5E5;
@solitude: #E3EAEE;

@giga:                        96px;
@mega:                        72px;
@kilo:                        48px;
@alpha:                       36px;
@beta:                        32px;
@gamma:                       28px;
@delta:                       24px;
@epsilon:                     20px;
@zeta:                        18px;
@milli:                       12px;
@micro:                       10px;

@playerprogress-height: 5px;
@player-height : 50px + @playerprogress-height;

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

