doctype html

html(lang='pt')

    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Senado Federal
        link(href='dist/essencial.css', rel='stylesheet')

    //if lt IE 9
          <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
          <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>

    body.sf-component

        include jade/navglobal
        include jade/portaltopo.essencial.jade

        .sf-container
            .sf-row
                include jade/breadcrumbs
                .sf-container
                    div.sf-H1 Guia de estilos do Senado Federal

        include jade/footer

        script(src='//localhost:35729/livereload.js')
