.row.spacer--xl
    .col-md-9
        .u-posRelative
            .Embed.Embed--16by9
                img.img-responsive(src="http://unsplash.it/800/450?image=526")
            .Box.Caption.Caption--film.epsilon
                | Nixus peregrinatione rumor, omnes silvaes transferre mirabilis, dexter classises
    .col-md-3(class='+cut')
        .Box.Box--y
                .Apex.Apex--default
                    span.delta No ar
                    span.text-muted.normalis  Canais
        .milli.u-spacer.CutHere.CutHere--lg.u-spacer--lg
            .Flag
                .Flag-figure
                    button.btn.btn-square.btn-danger.zeta 1
                        .micro ao vivo
                .Flag-body
                    p
                        strong Plenário
                        |  - A falsis, habitio emeritis abaculus
            .Flag
                .Flag-figure
                    button.btn.btn-square.btn-danger.zeta  2
                        .micro ao vivo
                .Flag-body
                    p
                        strong CAE
                        |  - Pess manducare, tanquam regius exsul
            .Flag
                .Flag-figure
                    button.btn.btn-square.zeta 3
                .Flag-body
                    p.text-muted
                        strong CPI
                        |  - Aususs ire, tanquam camerarius tabes
            .Flag
                .Flag-figure
                    button.btn.btn-square.zeta 4
                .Flag-body
                    p.text-muted
                        strong CAE
                        |  - A falsis, fermium clemens bromium
            .Flag
                .Flag-figure
                    button.btn.btn-square.btn-danger.zeta 5
                        .micro ao vivo
                .Flag-body
                    p
                        strong CRA
                        |  - Vox trabems, tanquam primus fortis
            .Flag
                .Flag-figure
                    button.btn.btn-square.zeta 6
                .Flag-body
                    p.text-muted
                        strong Plenário
                        |  - Peritus sensorems ducunt ad mensa
            .Flag
                .Flag-figure
                    button.btn.btn-square.zeta 7
                .Flag-body
                    p.text-muted
                        strong CPI
                        |  - A falsis, gallus gratis amor
            .Flag
                .Flag-figure
                    button.btn.btn-square.zeta 8
                .Flag-body
                    p.text-muted
                        strong CMA
                        |  - Albus amicitias ducunt ad turpis
