.row.spacer--xl
    .col-md-9
        .u-posRelative
            .Embed.Embed--16by9
                img.img-responsive(src="http://unsplash.it/800/450?image=526")
            .Box.Caption.Caption--film.epsilon
                | Nixus peregrinatione rumor, omnes silvaes transferre mirabilis, dexter classises
    .col-md-3
        .label.label-danger ● Ao vivo
        h2
            | Primus, albus nuclear vexatum iaceres vix locus de peritus fortis
        .CutHere.CutHere--xl
            .text-muted
                strong Quadrata
                |  victrix, palus, et ionicis
            p
                | Demolitione accelerare, omnes buboes resuscitabo secundus, noster bromiumes
                | Nix impositio credere, omnes cannabises aperto alter, talis zetaes
                | Sunt demissioes visum altus, gratis nixes
            .l-fork.text-right
                a.ShareIcon.ShareIcon--mini.ShareIcon--whatsapp
                a.ShareIcon.ShareIcon--mini.ShareIcon--twitter
                a.ShareIcon.ShareIcon--mini.ShareIcon--facebook