.row.spacer--xl
    .col-md-9
        .u-posRelative
            .Embed.Embed--16by9
                img.img-responsive(src="http://unsplash.it/800/450?image=526")
            .Box.Caption.Caption--film.epsilon
                | Nixus peregrinatione rumor, omnes silvaes transferre mirabilis, dexter classises
    .col-md-3.milli
        .Box(class='+cut')
            .Apex.Apex--default.u-spacer--lg
                span.delta No ar
                span.text-muted.normalis  Canais
            .Strip.Segments.Segments--md(class='+cut')
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.btn-danger.epsilon 1
                            .micro ao vivo
                    .Flag-body
                        p
                            strong Plenário
                            |  - A falsis, habitio emeritis abaculus
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.btn-danger.epsilon  2
                            .micro ao vivo
                    .Flag-body
                        p
                            strong TV
                            |  - Assista agora à nossa programação
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.epsilon 3
                    .Flag-body
                        p.text-muted
                            strong CPI
                            |  - Aususs ire, tanquam camerarius tabes
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.epsilon 4
                    .Flag-body
                        p.text-muted
                            strong CAE
                            |  - A falsis, fermium clemens bromium
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.btn-danger.epsilon 5
                            .micro ao vivo
                    .Flag-body
                        p
                            strong CRA
                            |  - Vox trabems, tanquam primus fortis
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.epsilon 6
                    .Flag-body
                        p.text-muted
                            strong Plenário
                            |  - Peritus sensorems ducunt ad mensa
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.epsilon 7
                    .Flag-body
                        p.text-muted
                            strong CPI
                            |  - A falsis, gallus gratis amor
                .Flag.Flag--material
                    .Flag-figure
                        button.btn.btn-square.epsilon 8
                    .Flag-body
                        p.text-muted
                            strong CMA
                            |  - Albus amicitias ducunt ad turpis
