
.Segment.Apex--lg.h3
    span.u-divisorVertical Atividade Legislativa
    i.Icon.Icon--md.Icon--calendar.Icon--spaced
    span.h6.u-alignMiddle
        a Qua | 01/07

// - Form
div(class="Box Box--lg / --pop --highlight / u-spacer--xl")
    .row
        .col-sm-7
            .Apex.small
                strong Pesquisa de matérias
            form.FormFill
                .FormFill-control.u-sizeFitAlt
                    button.btn.btn-default(type="submit") Buscar
                .FormFill-control.u-sizeFit
                    select.form-control
                        option Tipo de materia
                .FormFill-control.u-sizeFit
                    input.form-control(type="text", size=3, placeholder="Número")
                .FormFill-control.u-sizeFit
                    input.form-control(type="text", size=1, placeholder="Ano")
                .FormFill-control.u-sizeFillAlt
                    input.form-control(type="text", placeholder="Palavra-chave")

        .clearfix.visible-xs
        .col-sm-5
            .Apex.small
                strong Pesquisa de matérias
            form
                .input-group
                    input.form-control(type="text", placeholder="Número")
                    .input-group-btn
                        button.btn.btn-default(type="submit") Buscar
    .u-spacer
// -

// - Plenario e Comissoes
.Box.Box--flush
    .row.spacer--xl
        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--calendar
                .Flag-body.small
                    div: strong Ordem do dia do Senado
                    a Pautas
                    = ' | '
                    a Resultados
        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--display
                .Flag-body.small
                    div: strong Ordem do dia do Congresso
                    a Diários
                    = ' | '
                    a Avulsos

        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--download
                .Flag-body.small
                    div: strong Plenário
                    div: a Sessão Plenária
                    div: a Votações nominais
        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--star-full
                .Flag-body.small
                    div: strong Colegiados
                    div: a Comissões
                    div: a Conselhos do SF e CN

    .row.spacer--xl
        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--twitter
                .Flag-body.small
                    div: strong Pesquisas
                    div: a Questões de ordem
                    div: a Pronunciamentos
        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--page
                .Flag-body.small
                    div: strong Publicações
                    a Diários do SF e CN
                    = ' | '
                    a Avulsos

        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--star-empty
                .Flag-body.small
                    div: strong Estudos legislativos
                    a Textos para discussão

        .col-xs-6.col-sm-3
            .Flag
                .Flag-figure
                    div(class="Figure / --highlight --pop")
                        .Icon.Icon--lg.Icon--bubble
                .Flag-body.small
                    div: strong Estudos orçamentários
                    a Orçamento em discussão
// -

.Divider.Divider--dotted.Divider--highlight.u-spacer--lg

// - Destaques / Números / qzb
.row.spacer--xl
    .col-sm-6
        .Segments.Segment
            .Apex.Apex--md.Apex--md.h4
                | Destaques
            .Box.Box--news
                ul.Segments
                    li: a Emeritis tumultumques ducunt ad compater.
                    li: a Aonides volares, tanquam mirabilis habena.
                    li: a A falsis, urbs ferox epos.
    .col-sm-6
        .Box.Box--lg.Box--border.Segments.Segment
            .Apex.Apex--md.Apex--md.h4
                | Atividade Legislativa em números
            p Projetos aprovados em 2015
            form
                .input-group
                    .input-group-addon Tipo
                    select.form-control
                        option Projeto de Decreto Legislativo
//-

.row.spacer--xl
    .col-sm-3
        .Flag
            .Flag-figure
                div(class="Figure Figure--br --pop")
                    .Icon.Icon--lg.Icon--headphones
            .Flag-body.small
                div: strong Constituição Federal
                a Acesse o texto consolidado
    .col-sm-3
        .Flag
            .Flag-figure
                .Figure.Figure--muted
                    .Icon.Icon--lg.Icon--display
            .Flag-body.small
                div: strong Download
                a PDF
                = ' | '
                a e-PUB
    .col-sm-3
        .Flag
            .Flag-figure
                .Figure.Figure--muted
                    .Icon.Icon--lg.Icon--newspaper
            .Flag-body.small
                div: strong Em outros idiomas
                a English
                = ' | '
                a Español
    .col-sm-3
        .Flag
            .Flag-figure
                div(class="Figure Figure--temp --pop")
                    .Icon.Icon--lg.Icon--star-full
            .Flag-body.small
                div: a: strong Regimento interno do Senado Federal