.Apex.text-muted.h2 Destaques

.row.spacer--lg
    .col-sm-3
        .Box.Box--flush
            div(class="Apex Apex--card +low / zeta") Bertha Lutz
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=429")
    .col-sm-3
        .Box.Box--flush
            div(class="Apex Apex--card +low / zeta") Jovem Senador
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=400")
    .col-sm-3
        .Box.Box--flush
            div(class="Apex Apex--card +low / zeta") Senado Verde
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=460")
    .col-sm-3
        .Box.Box--flush
            div(class="Apex Apex--card +low / zeta") Pró-equidade
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=531")

