.Apex.text-muted.h2 Destaques

.Box.Box--flush.t-apart

    .row.spacer--lg
        .col-sm-3
            .Box.Box--flush
                .Segment.Apex.Apex--card.t-low.h4 Bertha Lutz
                .embed-responsive.embed-responsive-3by2.Figure--br
        .col-sm-3
            .Box.Box--flush
                .Segment.Apex.Apex--card.t-low.h4 Jovem Senador
                .embed-responsive.embed-responsive-3by2.Figure--temp
        .col-sm-3
            .Box.Box--flush
                .Segment.Apex.Apex--card.t-low.h4 Senado Verde
                .embed-responsive.embed-responsive-3by2.Figure--highlight
        .col-sm-3
            .Box.Box--flush
                .Segment.Apex.Apex--card.t-low.h4 Pró-equidade
                .embed-responsive.embed-responsive-3by2.Figure--hard

.row
    .col-sm-3
        .Stamp.Stamp--stack
            .Stamp-icon
                .Icon--xl.Icon--newspaper
            .Stamp-caption.Stamp-caption--label
                | Biblioteca
        p
            | Consilium cantare, omnes elogiumes manifestum superbus, velox habenaes.
            | Particula mori, omnes imberes amor brevis, camerarius classises.
    .col-sm-3
        .Stamp.Stamp--stack
            .Stamp-icon
                .Icon--xl.Icon--star-empty
            .Stamp-caption.Stamp-caption--label
                | Arquivo
        p
            | Primus, velox acipensers sapienter desiderium de regius, bi-color cobaltum.
            | Pius, neuter eleatess acceleratrix attrahendam de talis, grandis fortis.
    .col-sm-3
        .Stamp.Stamp--stack
            .Stamp-icon
                .Icon--xl.Icon--display
            .Stamp-caption.Stamp-caption--label
                | Livraria
        p
            | Bi-color, grandis exemplars grauiter manifestum de superbus, gratis fraticinida.
            | Rusticus, albus speciess sed mire prensionem de camerarius, primus domina.
    .col-sm-3
        .Stamp.Stamp--stack
            .Stamp-icon
                .Icon--xl.Icon--calendar
            .Stamp-caption.Stamp-caption--label
                | Visite o Senado
        p
            | Vex solem observare, omnes danistaes amor bassus, fidelis demissioes.
            | Vex homo ortum, omnes spatiies imperium varius, grandis dominaes.
