.Apex.text-muted.h2 Destaques

.row.spacer--lg
    .col-sm-3
        .Box.Box--flush
            div(class="Segment Apex Apex--card / --low h4") Bertha Lutz
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=429")
    .col-sm-3
        .Box.Box--flush
            div(class="Segment Apex Apex--card / --low h4") Jovem Senador
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=400")
    .col-sm-3
        .Box.Box--flush
            div(class="Segment Apex Apex--card / --low h4") Senado Verde
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=460")
    .col-sm-3
        .Box.Box--flush
            div(class="Segment Apex Apex--card / --low h4") Pró-equidade
            .Embed.Embed--3by2
                img.img-responsive(src="http://unsplash.it/300/200?image=531")

