.NavGlobal.navbar.navbar-static-top

    .container
        .pull-right
            a(target="_blank" href="http://www.camara.leg.br/" class="+spaced"): img(src="../../img/hp/icon-camara.svg")
            a(target="_blank" href="http://www.congressonacional.leg.br/" class="+spaced"): img(src="../../img/hp/icon-congresso.svg")
            a(target="_blank" href="http://www.tcu.gov.br/" class="+spaced"): img(src="../../img/hp/icon-tcu.svg")

        .NavGlobal-middle
            a(href='http://www12.senado.gov.br/institucional/ouvidoria') Fale com o Senado
