div(class="spacer--lg / row row--table row--table@sm")
    .col-sm-4
        .Box.Box--vert.t-apart
            .Apex.h4.Apex--call
                a Participe e acompanhe

            .CutHere.CutHere--xl
                form
                    p: strong Pesquise uma idéia para apoiar
                    .input-group
                        input.form-control
                        .input-group-btn
                            button.btn.btn-default Buscar

                ul.Segments
                    li: strong Audiências Públicas
                    li: a Pius habenas ducunt ad glos.
                    li: a Danistas cadunt, tanquam alter demolitione.
                    li: a Cedriums trabem, tanquam regius exsul.

                ul.Segments
                    li: strong Debates
                    li: a Pius habenas ducunt ad glos.

    .col-sm-4
        .Box.Box--vert.t-apart
            .Apex.h4.Apex--call
                a Participe e acompanhe

            .CutHere.CutHere--xl
                form.u-spacer
                    div.u-spacer
                        p: strong Demissios persuadere, tanquam neuter brabeuta. A falsis, extum germanus nuptia. Fluctuis unda, tanquam secundus nixus.
                        label.radio-inline
                            input(type="radio", name="enquete")
                            | A favor
                        label.radio-inline
                            input(type="radio", name="enquete")
                            | Contra
                        //- button.btn.btn-primary Votar
                    div
                        a Saiba mais
                        = ' | '
                        a Veja o resultado
                        = ' | '
                        a Comente o projeto

                div.small
                    strong Atenção
                    = ' '
                    | Nunquam vitare nuptia. Racana varius bulla est. Pol, a bene boreas, teres adiurator! Canis de
                    | raptus exsul, prensionem abnoba! Heu, torus! Cum agripeta resistere, omnes ventuses dignus fatalis,
                    | germanus pulchritudinees. Tumultumques potus in tubinga!

    .col-sm-4
        .Box.Box--vert.t-apart
            .Apex.h4.Apex--call
                a Orçamento

            .CutHere.CutHere--xl

                form
                    p: strong Orçamentos tematicos
                    .input-group
                        select.form-control
                            option Escolha um tema
                        .input-group-btn
                            button.btn.btn-default Buscar

                ul.Segments
                    li: a A falsis, racana audax luna.
                    li: a Dexter messors ducunt ad orgia.
                    li: a Frondator undas, tanquam peritus fluctus.
                    li: a Adiurator moris, tanquam salvus demissio.
                    li: a Albus gemnas ducunt ad terror.
                    li: a Altus historias ducunt ad tumultumque.

