
.container
    .PortalTopo

        .PortalTopo-id.PortalTopo-id--narrow
            .PortalTopo-title
                img(src="../img/logo.svg")

        .PortalTopo-togglers.visible-xs
            .PortalTopo-toggler--menu(data-toggle='collapse', data-target='.Nav--principal')

        .PortalTopo-tools

        .PortalTopo-busca

    nav.Nav--principal.navbar.navbar-default.navbar-collapse.collapse(role="navigation")
        ul.nav.navbar-nav
            li: a(href='http://www.senado.leg.br/senado') Institucional
            li: a(href='http://www.senado.leg.br/senadores') Senadores
            li: a(href='http://www.senado.leg.br/atividade') Atividade Legislativa
            li: a(href='http://www12.senado.leg.br/noticias') Notícias
            li: a(href='http://www.senado.leg.br/publicacoes') Publicações
            li: a(href='http://www12.senado.leg.br/orcamento') Orçamento
            li: a(href='http://www.senado.leg.br/transparencia') Transparência
            li: a(href='http://www12.senado.leg.br/ecidadania') e-Cidadania
