.NavGlobal.navbar.navbar-static-top

    .container

        .pull-right.dropdown
            a.NavGlobal-toggle.dropdown-toggle(data-toggle='dropdown')
                .Icon.Icon--menu.Icon--md
                span.u-alignMiddle  Portais
            ul.NavGlobal-dropdownMenu.dropdown-menu
                include portais

        .NavGlobal-logo.pull-left
            a(href='http://www.senado.gov.br/')
                img(src='../img/senado.svg', alt='Senado Federal', height=23, width=170)

        .NavGlobal-middle
            a(href='http://www12.senado.gov.br/institucional/falecomosenado') Fale com o Senado
