/*---
title:   Escala de fonte
section: Base
---

Classes utilitárias de tamanho da fonte. As escalas são `.giga`, `.mega`,
 `.kilo`, `.alpha`, `.beta`, `.gamma`, `.delta`, `.epsilon`, `.zeta`,
 `.normalis`, `.milli`, `.micro`.

```example:jade
.beta .beta
.gamma .gamma
.delta .delta
.zeta-sm.milli-xs .milli em xs; .zeta de sm em diante
```
*/

@mixin font-scale($class, $size) {
  .#{$class} {
    font-size: $size;
  }
}

@include font-scale(micro, $micro);
@include font-scale(milli, $milli);
@include font-scale(normalis, $font-size-base);
@include font-scale(eta, $eta);
@include font-scale(zeta, $zeta);
@include font-scale(epsilon, $epsilon);
@include font-scale(delta, $delta);
@include font-scale(gamma, $gamma);
@include font-scale(beta, $beta);
@include font-scale(alpha, $alpha);
@include font-scale(kilo, $kilo);
@include font-scale(mega, $mega);
@include font-scale(giga, $giga);


@mixin font-scale-r($class, $size, $scale) {
  .#{$class}-#{$scale} {
    font-size: $size;
  }
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
  $scale: sm;
  @include font-scale-r(micro, $micro, $scale);
  @include font-scale-r(milli, $milli, $scale);
  @include font-scale-r(normalis, $font-size-base, $scale);
  @include font-scale-r(eta, $eta, $scale);
  @include font-scale-r(zeta, $zeta, $scale);
  @include font-scale-r(epsilon, $epsilon, $scale);
  @include font-scale-r(delta, $delta, $scale);
  @include font-scale-r(gamma, $gamma, $scale);
  @include font-scale-r(beta, $beta, $scale);
  @include font-scale-r(alpha, $alpha, $scale);
  @include font-scale-r(kilo, $kilo, $scale);
  @include font-scale-r(mega, $mega, $scale);
  @include font-scale-r(giga, $giga, $scale);
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  $scale: md;
  @include font-scale-r(micro, $micro, $scale);
  @include font-scale-r(milli, $milli, $scale);
  @include font-scale-r(normalis, $font-size-base, $scale);
  @include font-scale-r(eta, $eta, $scale);
  @include font-scale-r(zeta, $zeta, $scale);
  @include font-scale-r(epsilon, $epsilon, $scale);
  @include font-scale-r(delta, $delta, $scale);
  @include font-scale-r(gamma, $gamma, $scale);
  @include font-scale-r(beta, $beta, $scale);
  @include font-scale-r(alpha, $alpha, $scale);
  @include font-scale-r(kilo, $kilo, $scale);
  @include font-scale-r(mega, $mega, $scale);
  @include font-scale-r(giga, $giga, $scale);
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  $scale: lg;
  @include font-scale-r(micro, $micro, $scale);
  @include font-scale-r(milli, $milli, $scale);
  @include font-scale-r(normalis, $font-size-base, $scale);
  @include font-scale-r(eta, $eta, $scale);
  @include font-scale-r(zeta, $zeta, $scale);
  @include font-scale-r(epsilon, $epsilon, $scale);
  @include font-scale-r(delta, $delta, $scale);
  @include font-scale-r(gamma, $gamma, $scale);
  @include font-scale-r(beta, $beta, $scale);
  @include font-scale-r(alpha, $alpha, $scale);
  @include font-scale-r(kilo, $kilo, $scale);
  @include font-scale-r(mega, $mega, $scale);
  @include font-scale-r(giga, $giga, $scale);
}

@media (min-width: map-get($grid-breakpoints, "xl")) {
  $scale: xl;
  @include font-scale-r(micro, $micro, $scale);
  @include font-scale-r(milli, $milli, $scale);
  @include font-scale-r(normalis, $font-size-base, $scale);
  @include font-scale-r(eta, $eta, $scale);
  @include font-scale-r(zeta, $zeta, $scale);
  @include font-scale-r(epsilon, $epsilon, $scale);
  @include font-scale-r(delta, $delta, $scale);
  @include font-scale-r(gamma, $gamma, $scale);
  @include font-scale-r(beta, $beta, $scale);
  @include font-scale-r(alpha, $alpha, $scale);
  @include font-scale-r(kilo, $kilo, $scale);
  @include font-scale-r(mega, $mega, $scale);
  @include font-scale-r(giga, $giga, $scale);
}
