/*---
title:   Tipografia
section: Base
---

##### Título principal
`h1.titulo-principal`: Deve ser utilizado sempre como o primeiro título de um
conteúdo. Apenas um subelemento é permitido (`small`) e deve ser utilizado para
descrição ou lead do título.
```example:html
<h1 class="titulo-principal">
  senado.css
  <small>http://git.io/senado.css</small>
</h1>
```
*/

h1.titulo-principal {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

  h1.titulo-principal small {
    display: block;
    font-size: 14px;
    line-height: @line-height-small;
    margin-top: 10px;
  }

/*---
title:   Escala de fonte
section: Base
---

Classes utilitárias de tamanho da fonte. As escalas são `.giga`, `.mega`,
 `.kilo`, `.alpha`, `.beta`, `.gamma`, `.delta`, `.epsilon`, `.zeta`,
 `.normalis`, `.milli`, `.micro`.

```example:html
<div class="beta">.beta</div>
<div class="gamma">.gamma</div>
<div class="delta">.delta</div>
<div class="zeta-sm milli-xs">.milli em xs; .zeta de sm em diante</div>
```
*/

._font-scale(giga, @giga);
._font-scale(mega, @mega);
._font-scale(kilo, @kilo);
._font-scale(alpha, @alpha);
._font-scale(beta, @beta);
._font-scale(gamma, @gamma);
._font-scale(delta, @delta);
._font-scale(epsilon, @epsilon);
._font-scale(zeta, @zeta);
._font-scale(normalis, @font-size-base);
._font-scale(milli, @milli);
._font-scale(micro, @micro);

._font-scale(@class, @size) {
  .@{class} {
    font-size: @size;
  }
  @media (max-width: @screen-xs-max) {
    .@{class}-xs {
      font-size: @size;
    }
  }
  @media (min-width: @screen-sm-min) {
    .@{class}-sm {
      font-size: @size;
    }
  }
  @media (min-width: @screen-md-min) {
    .@{class}-md {
      font-size: @size;
    }
  }
  @media (min-width: @screen-lg-min) {
    .@{class}-lg {
      font-size: @size;
    }
  }
}
