.row--table {
    display: table;
    height: 100%;
    > div[class*="col-"] {
        height: 100%;

        > :first-child {
            display: table;
            height: 100%;
            width: 100%;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .row--table\@sm {
        &:before, &:after {
            content: none;
        }
        > div[class*="col-"] {
            float: none;
            .u-sizeFillAlt;
        }
    }
}