@bootstrap-path: "../node_modules/bootstrap/less";

@import "../less/vendors/bootstrap";
@import "../less/senado";

@import "less/namespace";
@import "less/typo";

@icon-font-path: 'fonts/';
@img-path: 'img/';
