/* ---
title:   Arrange
section: Layout
---

Estrutura de alinhamento horizontal em `display:flex`

```example:jade
.Arrange
  .Arrange-fit
    div(class="+cut") Fit
  .Arrange-fill
    div(class="+light") Fill
  .Arrange-fit
    div(class="+cut") Fit
br
.Arrange.Arrange--gutter
  .Arrange-fit.u-size1of2(class="+cut") Fit
  .Arrange-fill(class="+light") Fill
  .Arrange-fit(class="+cut") Fit
```
*/

.Arrange {
  display: flex;
  flex-direction: row;
}

.Arrange--middle {
  align-items: center;
  justify-content: center;
}

.Arrange-fit {
  flex-basis: auto !important;
}

.Arrange-fill {
  flex: 1 1 0% !important;
  flex-basis: 0% !important;
}

.Arrange--vertical {
  flex-direction: column;

  > .Arrange-fill {
    min-height: 0;
  }
}

.Arrange--gutter {
  > .Arrange-fill,
  > .Arrange-fit {
    &:not(:first-child) {
      padding-left: @grid-gutter-width / 2;
    }

    &:not(:last-child) {
      padding-right: @grid-gutter-width / 2;
    }
  }
}
