/***
 * Medias e Media:
 */

//region doc
/**
* Media Media:
* `.Media--media`: Adaptação da estrutura `Media` ao elemento `.Media`. Nesse elemento, o `.Media-figure` é deslocado
*  para a esquerda (ou para a direita via `.pull-right`) e um novo [contexto de formatação](http://goo.gl/sIBbFp)
*  é criado. Possui modificadores responsivos, em que o elemento `.Media` se comporta como um elemento `.Media`
*  apenas daquele breakpoint pra baixo.
*
*  Permite aninhamento de outro `.Media` ou `.Media--media`
*
*     @example
*     .Media
*       .Media-figure
*         div(style='width:50px; height:50px; background-color:#eee')
*       .Media-body
*         .Etiqueta.glyphicon-list Topo
*         p: a(href='#'): small Detalhes
*         .Media
*           .Media-figure
*             div(style='width: 50px; height:50px; background-color:#eee')
*           .Media-body
*             .Etiqueta.glyphicon-list Topo
*             p: a(href='#'): small Detalhe
*         .Media
*           .Media-figure
*             div(style='width: 50px; height:50px; background-color:#eee')
*           .Media-body
*             .Etiqueta.glyphicon-list Topo
*             p: a(href='#'): small Detalhe
*         .Media
*           .Media-figure
*             div(style='width: 50px; height:50px; background-color:#eee')
*           .Media-body
*             .Etiqueta.glyphicon-list Topo
*             p: a(href='#'): small Detalhe
*/
// endregion
.Media {
    overflow: hidden;
    margin-bottom: @line-height-computed;
}
    .Media-figure {
        float: left;
        margin-right: 10px;
        padding: 0; // forçar o padding==0 para permitir utilização de classes col-*-*.
    }

    .Media-body {
        overflow: hidden;
    }


// region doc
/**
 * Media:
 * `.Media`: Estrutura de conteúdo com um cabeçalho, uma mídia e um texto, todos opcionais. Ocupa toda a largura do
 * elemento parent. Embora o `.Media-top` seja o primeiro elemento visível, é o elemento `.Media-figure`
 * que deve ser sempre o primeiro child para permitir adaptação ao objeto `.Media`
 *
 *     @example
 *     div
 *       .Media.Media--bloco
 *         .Media-figure
 *           div(style='height:100px; background-color:#eee')
 *         .Media-top
 *           .Etiqueta.Etiqueta--left.glyphicon-list Topo
 *         .Media-body
 *           p: a(href='#'): small Detalhe
 *     div
 *       .Media.Media--bloco.Media--bloco--sm
 *         .Media-figure
 *           div(style='width: 100px; height:100px; background-color:#eee')
 *         .Media-top
 *           .Etiqueta.Etiqueta--left.glyphicon-list Topo
 *         .Media-body
 *           p: a(href='#'): small Detalhe
 */
// endregion
.Media--bloco {
    display: table;
    width: 100%;

    > .Media-top {
        display: table-header-group;
    }

    > .Media-figure {
        width: 100%; // forçar o width==100% para permitir utilização de classes col-*-* no modo Media.
        margin: 0;
    }
}


.Media--bloco--sm {
    @media (max-width: @screen-xs-max) {
        display: block;
        > .Media-figure {
            width: auto;
            margin-right: 10px;
        }
    }
}
//
//.Media--media-sm {
//    @media (max-width: @screen-sm-max) {
//        .Media--media;
//    }
//    @media (min-width: @screen-md-min) {
//        > .Media-figure {
//            width: 100%;
//        }
//    }
//}
//
//.Media--media-md {
//    @media (max-width: @screen-md-max) {
//        .Media--media;
//    }
//    @media (min-width: @screen-lg-min) {
//        > .Media-figure {
//            width: 100%;
//        }
//    }
//}
//
//.Media-adminbar {
//    position: absolute;
//    right: 0;
//    left: 0;
//    z-index: 1;
//    a {
//        display: inline-block;
//        padding: 0 4px;
//        background: fadeout(@azul-padrao, 20%);
//        color: #fff;
//        margin-left: 2px;
//    }
//}
