/***
 * Blocos e Media:
 */

//region doc
/**
 * Media:
 * `.Media`: Estrutura genérica de disposição de conteúdo com uma mídia lateral. Nesse elemento, o `.Media-figure` é
 * deslocado para a esquerda (ou para a direita via `.pull-right`) e um novo
 * [contexto de formatação](http://goo.gl/sIBbFp)
 * é criado.
 *
 *  Permite aninhamento de outro `.Media`.
 *
 *     @example
 *     .Media
 *       .Media-figure
 *         div(style='width:50px; height:50px; background-color:#eee')
 *       .Media-body
 *         .Etiqueta.glyphicon-list Topo
 *         p: a(href='#'): small Detalhes
 *         .Media
 *           .Media-figure
 *             div(style='width: 50px; height:50px; background-color:#eee')
 *           .Media-body
 *             .Etiqueta.glyphicon-list Topo
 *             p: a(href='#'): small Detalhe
 *         .Media
 *           .Media-figure
 *             div(style='width: 50px; height:50px; background-color:#eee')
 *           .Media-body
 *             .Etiqueta.glyphicon-list Topo
 *             p: a(href='#'): small Detalhe
 */
// endregion
.Media {
    overflow: hidden;
    margin-top: 15px;
    &:first-child {
        margin-top: 0;
    }
    margin-bottom: 15px;
}
    .Media-figure {
        float: left;
        margin-right: 10px;
        padding: 0; // forçar o padding==0 para permitir utilização de classes col-*-*.
    }

    .Media-body {
        overflow: hidden;
    }


// region doc
/**
 * Bloco:
 * `.Media--bloco`: Implementa a estrutura **Bloco**
 * a partir de um elemento `.Media`. Compõe-se de um cabeçalho,
 * uma mídia e um texto (todos opcionais) dispostos verticalmente.
 *
 *     @example
 *     .Media.Media--bloco
 *       .Media-figure
 *         div(style='background-color:#eee; height:100px')
 *       .Media-top
 *         .Etiqueta.Etiqueta--left.glyphicon-list Topo
 *       .Media-body
 *         p: a(href='#'): small Detalhes
 */
// endregion
.Media--bloco {
    display: table;
    width: 100%;

    > .Media-top {
        display: table-header-group;
    }

    > .Media-figure {
        float: none;
        margin: 0;
    }
}


// region doc
/**
 * Bloco e Media: Para que um elemento **Bloco**
 * se comporte como **Media**
 * apenas em determinados breakpoints, utilize os estados `is-xs`, `is-sm`,
 `is-md` ou `is-lg`, combinados ou não.
 *
 * Embora o `.Media-top` seja o primeiro elemento visível no modo **Bloco**, é o elemento `.Media-figure` que deve vir
 * primeiro na markup.
 *
 *     @example
 *     .Media.Media--bloco.is-xs.is-sm
 *       .Media-figure.col-xs-3.col-sm-6.col-md-12
 *         div(style='height:100px; background-color:#eee')
 *       .Media-top
 *         .Etiqueta.Etiqueta--left.glyphicon-list Topo
 *       .Media-body
 *         p: a(href='#'): small Detalhe
 */
// endregion

._is-media() {
    display: block;
    > .Media-figure {
        float: left;
        margin-right: 10px;
    }
}

.Media--bloco {

    &.is-xs {
        @media (max-width: @screen-xs-max) {
            ._is-media;
        }
    }

    &.is-sm {
        @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            ._is-media;
        }
    }

    &.is-md {
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            ._is-media;
        }
    }

    &.is-lg {
        @media (min-width: @screen-lg-min) {
            ._is-media;
        }
    }

}
