// region doc
/**
* Caption:
* `.Caption`: Caption
*
*     @example
*     .Box.Box--flush.u-size1of3
*       .Embed.Embed--3by2(class='+cut')
*         img.img-responsive(src='img/m2.jpg')
*       .Caption.Caption--film.Box
*         | Quadra de fatalis planeta, examinare demissio!
*/
// endregion
.Caption {}

    .Caption--film {
        position: absolute;
        bottom: 0;
        width: 100%;

        background: rgba(0,0,0,0.4);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        line-height: 1.30;

        @media (max-width: @screen-xs-max) {
            position: static;
            background: #333340;
            font-size: @font-size-large;
        }
    }

    .Caption--feature {
        position: absolute;
        top: @padding-base-vertical;
        left: @padding-base-vertical;
    }
