// region doc
/**
* Etiqueta de Retranca:
* `.Etiqueta`: Label com ícone para uso geral. Deve ser utilizada sempre `inline`.
*
*     @example
*     div.Etiqueta.Etiqueta--list
*         |  Etiqueta
*     span Bloco inline
*/
// endregion

@etqt-height: 22px;

.Etiqueta {
    display: inline-block;
    padding-left: 6px;
    background: #999;
    line-height: @etqt-height - 2;
    font-size: 11px;
    color: #fff;
    margin-bottom: 1px;
}
    .Etiqueta:after {
        font-family: 'Glyphicons Halflings', sans-serif;
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        margin-left: 6px;
        border-left: 1px solid #fff;
        padding: 0 5px;
        background: @azul-padrao;
    }

    .Etiqueta--list:after {
        content: "\e032";
    }
