// region doc
/**
* Etiqueta de Retranca:
* `.Etiqueta`: Label com ícone para uso geral. Deve ser utilizada sempre `inline`. Pode ser combinado com uma classe
* `.glyphicon-*` para exibição de ícones.
*
*     @example
*     div.Etiqueta.glyphicon-list
*         |  Etiqueta
*     small Cucumber combines greatly with smooth popcorn.
*     p
*     div.Etiqueta.Etiqueta--left.glyphicon-list
*         |  Etiqueta
*     small Ripe, sticky pudding is best decorated with niffy coconut milk.

*/
// endregion

@etiqueta-height: 23px;
@etiqueta-padding: 6px;

.Etiqueta {
    display: inline-block;
    padding: 0 @etiqueta-padding;
    background: #999;
    line-height: @etiqueta-height - 2;
    font-size: 11px;
    color: #fff;
    margin-bottom: 1px;
}
    .Etiqueta:after, .Etiqueta:before {
        font-family: 'Glyphicons Halflings', sans-serif;
        font-size: 12px;
        border: solid #fff;
        border-width: 0 1px;

        padding: 0 5px;
        background: @azul-padrao;
        float: right;

        position: relative;
        left: @etiqueta-padding;
    }

    .Etiqueta--left {
        position: relative;
        left: -1px;
        &:after, &:before {
            float: left;
            left: auto;
            right: @etiqueta-padding;
        }
    }
