.FooterMain {
  background-color: #eee;
  margin-top: 10px;
  padding-top: 10px;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    padding-top: 20px;
  }
}

.FooterMain-list {
  // &:extend(.list-unstyled);

  line-height: 20px;
  font-size: 12px;

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    margin: 0 10px;
  }

  & > dt {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin: 10px 0;
  }
}

.FooterMain-end {
  margin-top: 5px;
  border-top: 1px solid #fff;
  height: 40px;
}

.FooterMain-endereco {
  background-color: #002e56;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 11px;
  padding: 10px;
  line-height: 1.5;
}

.FooterMain-link {
  &,
  &:hover {
    color: #333;
  }
}

.FooterMain-hlink {
  &,
  &:hover {
    color: #666;
  }
}
