@knob-height: 1.8em;

.Knob {
  .centre-align();
  width: @knob-height;
  height: @knob-height;
  line-height: @knob-height;
  text-align: center;
  cursor: pointer;
  &, &:hover, &:focus {
    color: #fff;
  }
  > .Knob-icon {
    top: 0;
  }
}

  .Knob--rounded {
    @border-width: 4px;
    line-height: ~"calc(@{knob-height} - @{border-width})";
    border-radius: 50%;
    border: @border-width/2 solid #fff;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 0 0 3px rgba(0,0,0,0.6);
  }
