
// region doc
/**
* Menus de navegação:
* `.Nav--principal`: Menu principal do portal. É colidível no viewport `xs`.
*
*     @example
*     ul.Nav--principal.navbar-collapse
*       ul.nav.navbar-nav
*         li: a Início
*         li: a Notícias
*/
// endregion
.Nav--principal {
    border-radius: 0;
    background: #fff;
    border: none;
    border-top: dotted 1px @cinza-medio;
    border-bottom: solid 5px @azul-padrao;
    margin-bottom: 0;
    font-size: 16px;

    @media (max-width: @screen-xs-max) {
        min-height: inherit;
        border-bottom: none;
    }

    @media (min-width: @screen-sm-max) {
        > ul > li > a {
            padding: 15px;
        }
    }

}


// region doc
/**
* Menus de navegação secundário:
* `.Nav--secundaria`: Menu secundário utilizado no topo do site. Preferencialmente, não
* deve ser exibido em `xs`. Utilizado
*
*     @example
*     div.Nav--secundaria
*       ul.nav.navbar-nav.pull-right
*           li: a Jornal do Senado
*           li: a Senado Notícias
*           li: a TV Senado
*/
// endregion
@secundaria-height: 30px;
.Nav--secundaria {
    border-top: 1px solid #CCC;
    background-color: #f7f7f7;
    height: @secundaria-height;

    > ul > li {
        line-height: @secundaria-height;
        &:not(:last-child):after {
            font-size: 14px;
            content: ' ';
            border-left: 1px solid #ccc;
            vertical-align: middle;
        }
        > a {
            font-size: 13px;
            float:left;
            color: #3E6892;
            padding: 0 15px;
            line-height: @secundaria-height;
        }
    }
}
