// SPEC:
// - não deve possuir margens lateriais

.Painel {
    // se o padding for retirado, tem que habilitar o overflow: hidden
    padding: @padding-large-vertical;
    &:not(:last-child) {
        margin-bottom: 2*@padding-large-vertical;
    }
}

    .Painel--full {
        padding-left: 0;
        padding-right: 0;
    }

    .Painel--light {
        background: #D9EDF7;
    }

    .Painel--cut {
        background: #f5f5f5;
    }

