/***
 * Segment:
 */

// region doc
/**
* Segment:
* `.Segment`: Estrutura que colide as margens verticais do `first-child` e `last-child` e
* uniformiza os espaços entre os elementos de uma sequência vertical.
*
*     @example
*     .Segment.Painel--cut
*       p Segment
*     .Segment.Painel--cut
*       ul
*         li Segment
*     .Segment.Painel--cut
*       h3 Segment
*     .Segment.Painel--cut
*       small Segment

/**
* Aninhamento:
* `.Painel`: Ajusta o espaçamento externo e permite o aninhamento segmentos.
*
*     @example
*     .Painel.Painel--cut
*       .Segment
*         p para
*       .Painel.Painel--light
*         .Segment.Painel--cut
*           p para
*           ul
*             li list
*         .Segment.Painel--cut
*           p para

/**
* Full:
* `.Segment--full`: Anula o espaçamento horizontal
*
*     @example
*     .Painel.Segment--light
*       .Segment.Segment--cut.Segment--full
*         p Segment--full
*       .Segment.Segment--cut
*         small Segment
*       .Segment.Segment--cut.Segment--full
*         p Segment--full

/**
* Cut here:
* `.Segment--cutHere`: Divide cada segmento com uma borda tracejada.
*
*     @example
*     .Painel.Painel--cut
*         .Segment.cutHere
*           p Apolloniates de festus gabalium, amor frondator!
*         .Segment.cutHere
*           p Potus hic ducunt ad noster demissio.
*         .Segment.cutHere
*           p Caculas sunt paluss de altus species.

/**
* Exemplos:
*
*     @example
*     .Painel.Segment.Painel--cut
*         .Segment.Apex.Apex--cut
*           span.u-divisorVertical Agenda
*           p.Apex-detail: a  Qua | 01/07
*         .Segment
*           ul.list-unstyled
*             li: a Mori diligenter ducunt ad flavum calceus
*             li: a Sunt axonaes amor clemens, neuter triticumes
*         .Segment.Bed.Bed--cut: a Agenda semanal
*     .Painel.Painel--links.Segment
*         .Segment.Segment--full.Apex.Apex--default
*             | Expediente
*         .Segment
*           .Flag
*             .Flag-image
*               .Icon.Icon--newspaper.Icon--lg
*             .Flag-body
*               a Cur vita tolerare?
*               p: small Nunquam gratia guttus
*           .Flag
*             .Flag-image
*               .Icon.Icon--bubble.Icon--lg
*             .Flag-body
*               a Nunquam contactus pulchritudine
*               div: small Fuga de ferox buxum, manifestum advena
*/
// endregion

@painel-spacing: 10px;

// SPEC:
// - não deve possuir margens lateriais

.Segment {
    overflow: hidden; // garantir espaçamento ainda que não haja padding
    margin-bottom: @painel-spacing;
    &:last-child {
        margin-bottom: 0;
    }
    .collapse-margins();
}

    .Segment--full {
        position: relative;

        margin-left: -@painel-spacing;
        margin-right: -@painel-spacing;

        &:first-child {
            margin-bottom: 0;
            top: -@painel-spacing;
        }

        &:last-child {
            top: @painel-spacing;
            margin-top: -10px;
        }
    }
