@import (reference) "icons";

// region doc
/**
* Botões de compartilhamento:
* `.ShareIcon`: Botão de compartilhamento em redes sociais. O ícone já é embutido no componente.
*
*     @example
*     a.ShareIcon.ShareIcon--facebook
*     a.ShareIcon.ShareIcon--twitter
*     a.ShareIcon.ShareIcon--google-plus
*     a.ShareIcon.ShareIcon--pinterest
*     a.ShareIcon.ShareIcon--youtube
*     a.ShareIcon.ShareIcon--flickr
*     a.ShareIcon.ShareIcon--instagram
*     a.ShareIcon.ShareIcon--tumblr
*/
// endregion
.ShareIcon {
    &:extend(.btn);

    position: relative;

    border: none;
    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    &, &:focus, &:active {
        color: #666;
        outline: none;
    }

    line-height: 32px;
    font-weight: bold;

    margin-right: 3px;
    padding: 0 8px;

    transition: background-color 300ms linear, border-bottom-color 300ms linear;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
    &:last-child {
        margin-right: 0;
    }
    &:before {
        &:extend(.Icon);
        font-size: 18px;
    }
}

    .share-icon-variant(@color) {
        background-color: #eee;
        border-bottom-color: lighten(@color, 25%);
        &:hover, &:focus, &.ShareIcon--active {
            color: #fff;
            background-color: @color;
            border-bottom-color: darken(@color, 16%);
        }
    }

    .ShareIcon--default {
        .share-icon-variant(@azul-padrao);
    }

    .ShareIcon--facebook {
        .Icon--facebook;
        .share-icon-variant(#3b5998);
    }

    .ShareIcon--youtube {
        .Icon--youtube-logo;
        .share-icon-variant(#bb0000);
    }

    .ShareIcon--flickr {
        .Icon--flickr;
        .share-icon-variant(#ff0084);
    }

    .ShareIcon--instagram {
        .Icon--instagram;
        .share-icon-variant(#517fa4);
    }

    .ShareIcon--twitter {
        .Icon--twitter;
        .share-icon-variant(#00aced);
    }

    .ShareIcon--google-plus {
        .Icon--google-plus;
        .share-icon-variant(#dd4b39);
    }

    .ShareIcon--pinterest {
        .Icon--pinterest;
        .share-icon-variant(#cb2027);
    }

    .ShareIcon--whatsapp {
        .Icon--whatsapp;
        .share-icon-variant(#4dc247);
    }

    .ShareIcon--tumblr {
        .Icon--tumblr;
        .share-icon-variant(#32506d);
    }


.ShareIcon--circle {
    border-radius: 50%;
    border-width: 0;
    line-height: 35px;
    width: 35px;
    background: #ddd;
    color: #fff;
    margin-right: 6px;
}

.ShareIcon-text {
    font-size: 13px;
    margin-left: 8px;
    margin-right: 8px;
}

    .ShareIcon-text--hidden {
        vertical-align: middle;
        overflow: hidden;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        width: 0;
        transition: width 0.5s ease;
        text-align: left;
        white-space: nowrap;

        .ShareIcon:focus + & {
            width: 90px;
        }
    }
