@import (reference) "icons";

// region doc
/**
* Botões de compartilhamento:
* `.Share`: Botão de compartilhamento em redes sociais. O ícone já é embutido no componente.
*
*     @example
*     .Box
*       a.btn.Icon.Share.Share--facebook
*       a.btn.Share.Share--twitter
*         .Icon.Icon--twitter
*       a.btn.Share.Share--google-plus
*         .Icon.Icon--google-plus
*       a.btn.Share.Share--pinterest
*         .Icon.Icon--pinterest
*       a.btn.Share.Share--youtube
*         .Icon.Icon--youtube-logo
*       a.btn.Share.Share--flickr
*         .Icon.Icon--flickr
*       a.btn.Share.Share--instagram
*         .Icon.Icon--instagram
*       a.btn.Share.Share--tumblr
*         .Icon.Icon--tumblr
*       a.btn.Share.Share--circle.Share--tumblr
*         .Icon.Icon--tumblr
*       a.btn.Share.Share--circle.Share--dark.Share--facebook
*         .Icon.Icon--facebook
*     .Box
*       a.btn.Share.Share--mini.Share--facebook
*         .Icon.Icon--facebook
*       a.btn.Share.Share--mini.Share--twitter
*         .Icon.Icon--twitter
*/
// endregion

.Share {

    padding: 0;

    border: none;
    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    font-size: 18px;
    @size: 1.9em;
    line-height: @size;
    width: @size;
    transition: background-color 300ms linear;

    &, &:focus, &:active {
        color: #666;
    }

    &:hover {
        color: #fff;
    }

    &:not(:last-child) {
        margin-right: 3px;
    }

}

    .share-icon-variant(@color) {
        background: #eee;
        border-bottom-color: lighten(@color, 25%);
        &:hover, &.Share--mini {
            background: @color;
        }
    }

    .Share--default {
        .share-icon-variant(@azul-padrao);
    }

    .Share--facebook {
        .Icon--facebook;
        .share-icon-variant(#3b5998);
    }

    .Share--youtube {
        .share-icon-variant(#bb0000);
    }

    .Share--flickr {
        .share-icon-variant(#ff0084);
    }

    .Share--instagram {
        .share-icon-variant(#517fa4);
    }

    .Share--twitter {
        .share-icon-variant(#00aced);
    }

    .Share--google-plus {
        .share-icon-variant(#dd4b39);
    }

    .Share--pinterest {
        .share-icon-variant(#cb2027);
    }

    .Share--whatsapp {
        .share-icon-variant(#4dc247);
    }

    .Share--tumblr {
        .share-icon-variant(#32506d);
    }

.Share--mini {
    border: none;
    font-size: 14px;
    color: #fff;
    background: none;
}

.Share--circle {
    border-radius: 50%;
    border: none;
    color: #fff;
    margin-right: 6px;
    &:before {
        line-height: 36px;
    }
    background: #ccc;
}

.Share--dark {
    background-color: #888;
}

.Share-text {
    font-size: 13px;
    margin-left: 8px;
    margin-right: 8px;
}

    .Share-text--hidden {
        vertical-align: middle;
        overflow: hidden;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        width: 0;
        transition: width 0.5s ease;
        text-align: left;
        white-space: nowrap;

        .Share:focus + & {
            width: 90px;
        }
    }
