// region doc
/**
* Tags:
* `.Tag`: Label com ícone para uso geral.
*
*     @example
*     .Tag.Tag--default
*       .Tag-icon.Tag-icon--default.Icon--newspaper
*       a.flat(href='#')
*         span.Tag-caption Jornal
*     .Tag
*       .Tag-icon.Tag-icon--circle.Icon--display
*       a(href='#')
*         .Tag-caption.Tag-caption--label Em Discussão
*/
// endregion

 // altura da tag em que o espaçamento vertical coincide com o horizontal considerando font-size: 12px
@tag-height: 100px;
@tag-padding: 20px;

.Tag {
    display: block;
    padding: 0 @tag-padding;
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
}

    .Tag-icon {
        padding-right: @tag-padding;
        padding-left: 0;
        font-family: 'agenciaweb', sans-serif;
        display: inline-block;
        line-height: @tag-height;
        vertical-align: middle;
    }

    .Tag-icon--default {
        color: #0095DA;
        font-size: 64px;
    }

    .Tag--default {
        border: 1px solid #ccc;
        font-size: 24px;
        > a {
            color: #999;
        }
    }

    .Tag-icon--circle {
        display: block;
        border: 1px solid #ccc;
        width: @tag-height;
        border-radius: 50%;
        font-size: 48px;
        color: #333;
        margin-left: auto;
        margin-right: auto;

        padding: 0;
    }

    .Tag--circle {
        line-height: 24px;
        display: inline-block;
        text-align: center;
    }
    .Tag-caption--label {
        display: block;
        color: @azul-padrao;
        margin-top: -15px;
        padding-top: 5px;
        background: #fff;
        font-size: 24px;
    }
